.cards__grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
  max-width: 882px;
  height: 743px;
}

.card__image {
  max-width: 282px;
  height: 282px;
}

.card__bottom-trash {
}

.card__footer {
  color: #ffffff;
  font-family: "Inter";
}
