.cards__grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
  max-width: 882px;
  height: 743px;
  margin: auto;
}

.card {
  position: relative;
}

.card__image {
  max-width: 282px;
  height: 282px;
}

.card__bottom-trash {
  position: absolute;
  right: 0;
  padding-top: 15px;
}

.card__footer {
  color: #ffffff;
  font-family: "Inter";
  font-weight: 900;
  font-size: 24px;
  line-height: 29.05px;
  margin: auto;
  width: 246px;
  height: 23px;
}

.card__bottom-like {
  position: absolute;
}
