.form__close-button {
  position: relative;
  width: 40.7px;
  height: 40.7px;
  color: #ffffff;
}

.form popup__form {
  margin: auto;
  width: 430px;
  height: 330px;
}

.form__title {
  font-family: "Inter";
  font-weight: 900;
  font-size: 24px;
  line-height: 29.05px;
  color: #000000;
}

.form__input {
  width: 358px;
  height: 27.26px;
  margin: auto;
  flood-color: #c4c4c4;
  font-family: "Inter";
  font-weight: 400;
  font-size: 14px;
  line-height: 16.94px;
  margin-bottom: 29.74px;
}

.form__button {
  width: 358px;
  height: 50.15px;
  background-color: #000000;
  color: #ffffff;
  font-family: "Inter";
  font-weight: 400;
  font-size: 18px;
  line-height: 21.78px;
  padding-bottom: 36.51px;
}
