.header {
  display: flex;
  flex-direction: column;
}

.header__logo {
  width: 173px;
  height: 33px;
  padding-left: 100px;
  padding-top: 40px;
}

.header__line {
  padding-top: 20px;
  padding-bottom: 20px;
}
